<h1>Dragon ball Page</h1>

<section>
  <div class="row">

    <div class="col-12 col-sm-6">

      <!--OUTPUT = componente dragonball-character-add -->
      <!-- aqui -->

      <dragonball-character-add
        (newCharacter)=" dragonballService.addCharacters($event)" )
      />
      <!-- hasta aqui  -->
    </div>

    <div class="col-12 col-sm-6">
      <!--INPUT = <dragonball-component-list [xejemplo]="characters()"/> -->
      <dragonball-character-list listName="Listado de personajes" [characters]="dragonballService.characters()" />
    </div>

  </div>
</section>
